



<div class="modals-location">
 
    <button mat-icon-button class="close-button" [mat-dialog-close]="true">
      <mat-icon class="close-icon" color="warn">close</mat-icon>
    </button>
  
  <div class="information-location">
    <div class="type-location">
      <p class="title-type-location"> Tipo de Localización:  </p> <p class="resumen-type"> {{location.type}} </p>
    </div>
      
    <div  class="type-location">
      <p class="title-type-location">Dimension:</p><p class="resumen-type" >{{location.dimension}}</p>
    </div>
  
    <div  class="type-location">
  <p class="title-type-location">Total Residents:</p> <p class="resumen-type">{{location.residents.length}}</p>
    </div>
  </div>
</div>